<div data-hook="admin_shipping_categories_form_shapco">
  <div class="form-group">
    <%= f.label :shapco do %>
      <%= f.check_box :shapco %>
      <%= Spree.t(:shapco_create) %>
    <%- end %>
  </div>
</div>
